.cardBi{
/*   -webkit-transition: all 300ms ease; */
  transition: all 300ms ease;
 /*  min-width: 333px;
  min-height: 347px; */
}

.cardBi:hover{
  transform: translate(0px, -5px);

}
.cardHome{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.card-custom{
  display: flex;
  min-width: 250px;
  transition: all 0.5s;
  /* cursor: pointer; */
  max-width: 300px;
  /* margin: 15px; */
  margin-left: 0;
}
.card-custom li{
  size: 2.5rem;
}
.card-custom:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(99, 88, 88, 0.5));
}
background-image: url(/img/fundo.svg);
