<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>
    MOR INFO
  </title>
</head>
@include('navbar/nav')
<link href="./css/global/global.css" rel="stylesheet" />
<link href="./css/empresa/empresa.css" rel="stylesheet" />

<body class="index-page sidebar-collapse">

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('./img/empresa2.jpg');"
    id="Top">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="brand">
            <h2 class="">Da união de três jovens estudantes de Tecnologia da Informação, em 1993, surgiu a MOR
              Consultoria
              em Informática.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
    <div class="fundoGelo"><br>
      <h2 class="title text-center"><u>Quem somos:</u></h2><br>
      <div class="section container ">

        <div class="row">
          <div class="col-sm-5">
            <img class="imgProd" src="./img/principal.jpeg" alt="">
          </div>
          <div class=" col-sm-5 texto-custom">
            <h4>A MOR começou sua história desenvolvendo soluções setoriais,
              softwares de controle financeiro, de faturamento, de compras e estoque em geral,
              e com a crescente demanda do mercado por uma gestão mais integrada e eficiente,
              e o know-how adquirido, com poucos anos evoluímos para um completo ERP.</h4>
          </div>

        </div><br><br>
        <div class="row">
          <div class=" col-sm-5 texto-custom"><br><br>
            <h4>Empresa 100% nacional, inovadora, que desde o início da sua
              história, se manteve focada em prover soluções em softwares para
              que você se mantivesse focado no seu negócio.</h4>
          </div>
          <div class="col-sm-5">
            <img class="imgProd" src="./img/empresa.jpeg" alt="">
          </div>
        </div><br><br>
        <div class="row">
          <div class="col-sm-5">
            <img class="imgProd" src="./img/parceiros.jpeg" alt="">
          </div>
          <div class=" col-sm-5 texto-custom">
            <h4>Gostamos de denominar nossos clientes como parceiros porque
              acreditamos ser um termo que melhor reflete o
              relacionamento que a MOR preza. Esse conceito nos permite sempre
              buscar a melhor opção a eles no curto e no longo-prazo. Mais de 50%
              da nossa carteira de parceiros está conosco há mais de 10 anos, além
              de diversos outros com mais de 20 anos de relacionamento, nos permitindo
              a oportunidade de ajudá-los a crescer ano após ano através de dados oferecidos
              pelos diversos sistemas por nós implantados..</h4>
          </div>

        </div>

      </div>


    </div>
    @include('email/email')

  </div>
  @include('footer/footer')
  </div>



</body>
<script src="./js/email/email.js"></script>

</html>
