<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>
    MOR INFO
  </title>
</head>
@include('navbar/nav')
<link href="./css/global/global.css" rel="stylesheet" />
<link href="./css/principal/principal.css" rel="stylesheet" />

<body class="index-page sidebar-collapse">
  <!--importação do menu-->

  <div class="page-header header-filter" data-parallax="true" style="background-image: url('./img/fundo.jpg');"
    id="Top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <div class="brand">
            <h2 class="">Com os softwares da MOR, você encontra as respostas certas para a gestão do seu negócio!
              Soluções
              para indústrias e comércios.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised  ">
    <div class="card ">
      <iframe class="player " src="https://www.youtube.com/embed/9PLhyrl8Ewo?autoplay=1;mute=1" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <div class="section">
      <h2 class=" text-center title">Alguns de nossos clientes </h2>
      <br>
      <section class="customer-logos slider">
        <div class="slide"><img src="img/empresa/almanara.png" alt="Almanara"></div>
        <div class="slide"><img src="img/empresa/especifer.jpg" alt="Especifer"></div>
        <div class="slide"><img src="img/empresa/biomedical.png" alt="Biomedical"></div>
        <div class="slide"><img src="img/empresa/autoferr.png" alt="AutoFerr"></div>
        <div class="slide"><img src="img/empresa/brasmeck.png" alt="Brasmeck"></div>
        <div class="slide"><img src="img/empresa/bremauto.png" alt="Bremauto"></div>
        <div class="slide"><img src="img/empresa/galva.png" alt="galva"></div>
        <div class="slide"><img src="img/empresa/mikropar.png" alt="Mikropar"></div>
        <div class="slide"><img src="img/empresa/novatempera.png" alt="NovaTempera"></div>
        <div class="slide"><img src="img/empresa/uniao.png" alt="EletricaUniao"></div>
        <div class="slide"><img src="img/empresa/vidrolandia.png" alt="Vidrolandia"></div>
        <div class="slide"><img src="img/empresa/warehouse.png" alt="WareHouse"></div>
      </section>
    </div>
    <div class="fundoGelo border-radius">
      <div class="section container ">
        <h2 class=" text-center title">Nossas soluções </h2>
        <div class="text-center cardHome">
          <a href="/MORERP">
            <div class="card col-sm-4 card-custom">
              <div class="info">
                <div class="icon icon-primary">
                  <img src="./img/logoCard/morerp.png" class="imgCard" alt="MORERP">
                </div> <br>
                <h4 class="text-black">Comercial, Faturamento, Financeiro , Escrita
                  Fiscal, Folha de Pagamento, Contabilidade, Apontamento de Produção,
                  Controle de Produção, Suporte a Decisão.</h4>
                <a class="text-blue" href="/MORERP">Saiba mais <br> <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </a>
          <a href="/MORERP">
            <div class="card col-sm-4 card-custom">
              <div class="info">
                <div class="icon icon-primary">
                  <img src="./img/logoCard/mortemp.png" class="imgCard" alt="MORTEMP">
                </div> <br>
                <h4 class="text-black">Tratamento Térmico, Forno, Chão de Fábrica,
                  Recebimento, Produção, Qualidade, Faturamento, Relatórios.</h4>
                <a class="text-blue" href="/MORERP">Saiba mais<br><i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </a>
          <a href="/MORERP">
            <div class="card col-sm-4 card-custom">
              <div class="info">
                <div class="icon icon-primary">
                  <img src="./img/logoCard/morbi.png" class="imgCard" alt="MORBI">
                </div><br>
                <h4 class="text-black">Soluções avançadas, Personalizáveis e
                  Dashboards intuitivos para a rápida tomada de decições !</h4>
                <a class="text-blue" href="/MORERP">Saiba mais<br> <i class="fa fa-angle-right"></i></a>
              </div>
            </div>
          </a>
        </div>
        <br>
      </div>
    </div>

    <div class="section  text">
      <h2 class=" text-center title">Nossa base é</h2><br>
      <div class="container">
        <div class="row">

          <div class="col-sm-3">
            <img class="imgProd" src="/img/uniao.jpg" alt="Uniao">
          </div>
          <div class="col-sm-9 ">
            <ul>
              <li>
                <h4 class="textoBase">Excelência</h4>
              </li><br>
              <li>
                <h4 class="textoBase">Ética</h4>
              </li> <br>
              <li>
                <h4 class="textoBase">Responsabilidade Social e Empresarial</h4>
              </li><br>
              <li>
                <h4 class="textoBase">Empatia</h4>
              </li><br>
              <li>
                <h4 class="textoBase">Conhecimento</h4>
              </li><br>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="fundoGelo">
      <div class="section container  ">
        <div class="row">
          <div class="col-sm-6">
            <h4>Com profissionais muito experientes e apaixonados por Tecnologia,
              de perfis multidisciplinar, certificados com vivência de mercado em
              análise de negócio, desenvolvimento de software, projetos, e outras
              áreas ligadas a TI e Gestão. Nossa capacitação técnica é perfeitamente
              adaptada ao nosso parceiro com uma base fundada numa comunicação onde
              nossa equipe e os usuários falam a mesma linguagem.
            </h4>
          </div>
          <div class="col-sm-5">
            <img class="imgProd " src="./img/profissionais.jpg" alt="Profissionais">
          </div>
        </div>
      </div>
    </div>
    <br>

    @include('email/email')

  </div>
  </div>
  @include('footer/footer')
</body>
<script src="/js/email/email.js"></script>
<script src="/js/principal/principal.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script>

</script>

</html>
