.topo{
  height: 64vh;
}
.card-custom{
  display: flex;
  min-width: 250px;
  transition: all 0.5s;
  cursor: pointer;
  max-width: 300px;
  margin: 15px;
  margin-left: 0;
}
.card-custom li{
  size: 2.5rem;
}
.card-custom:hover{
  -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
  filter: drop-shadow(15px 10px 5px rgba(99, 88, 88, 0.5));
}
.flex{
 display: flex;
 justify-content: center;
 flex:1;
 margin-left: 0;
}
.titulos{
  color: #120650;
  font-size: 2.5rem;
}
.fundoGelo{
  background-color: #eee;
}
.imgProd{
  width: 100%;

}
.contato{
  padding: 0 0 0;
}
.contatoCustom{
padding-top: 40px;
}
.info p {
  color:  #120650;
}
.form-control {
  /* RETIRAR AS BORDAS DO INPUT*/
  border: 0;
}
.text-blue{
  color: #120650;
}
.inputCustom{
  background-size: 1% 100%, 100% 100%;
  background-image: linear-gradient(to top, #6b6b85ce  2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px);
}
html{
  scroll-behavior: smooth;
}
